#questionForm{
    display: flex;
    justify-content: space-between;
    height: 2rem;
    width: 80vw;
    border-radius: 2em;
    padding: 1rem;
    background-color: rgb(240, 243, 248);
    margin: auto;
}
#sendButton{
    margin-left: 0.1rem;
    background-color: transparent;
    border: none;
    height: 100%;
    width: auto;
    background-color: rgb(240, 243, 248);
}
#sendButton:hover{
    cursor: pointer;
}
#sendImage{
    background-color: transparent;
    height: 100%;
    width: auto;
}
#messageInput{
    font-size: 1rem;
    margin-right: 1rem;
    background-color: rgb(240, 243, 248);
    border: none;
    width: 80%;
}
#messageInput:focus{
    outline: none;
}
#chat-log{
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    width: 80vw;
    margin: auto;
    margin-top: 2rem;
    height: 60vh;
}
#chat-log > div{
    width: fit-content;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    overflow-wrap: anywhere;
}
.userMessage{
    max-width: 80vwx;
    margin-right: 0;
    margin-left: auto;
    text-align: right;
    background-color: rgb(240, 243, 248);
    border-radius: 1rem;
    padding: 0.5rem;
    align-self: center;
}
.aiMessage{
    margin-left: 0;
    margin-right: auto;
    text-align: left;
}
#deleteChat{
    background-color: transparent;
    border: none;
    height: 100%;
    width: auto;
    background-color: rgb(240, 243, 248);
}
#deleteChat > img{
    background-color: transparent;
    height: 100%;
    width: auto;
}
#deleteChat:hover{
    cursor: pointer;
}