body{

}
#headerNav{
    display: flex;
    position: fixed;
}
#leftNavContainer{
    display: flex;
}
#logo{
    border-radius: 50%;
    height: 60%;
}
#leftNavContainer > a{
    text-decoration: none;
}
#rightNavContainer > ul{
    display: flex;
    list-style-type: none;
}
#rightNavContainer > ul > li > a{
    text-decoration: none;
}

  